ALPINE_VERSION=3.22
# This version was selected on 25/05/2026 at which time
# 3.23 was the latest stable version and 3.22 the penultimate.

# nginx port 443 is the required by subject
NGINX_PORT=443

# Domain
DOMAIN_NAME=atambo.42.fr

# mariadb
DB_PORT=12333
MARIADB_DATABASE=wordpress
MARIADB_USER=wordpress
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress

# wordpress
WP_ADMIN_USER=siteowner
WP_ADMIN_EMAIL=admin@example.com
WP_USER=editor
WP_USER_EMAIL=user@example.com


