ALPINE_VERSION=3.22
# This version was selected on 25/05/2026 at which time
# 3.23 was the latest stable version and 3.22 the penultimate.
PORT=4435

# Domain
DOMAIN_NAME=atambo.42.fr

# mariadb
MARIADB_DATABASE=wordpress
MARIADB_USER=wordpress
WORDPRESS_DB_HOST=mariadb:3306
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_NAME=wordpress
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress

# wordpress
WP_ADMIN_USER=siteowner
WP_ADMIN_EMAIL=admin@example.com
WP_USER=editor
WP_USER_EMAIL=user@example.com


